[Desktop Entry]
Encoding=UTF-8
Name=NostWM
Comment=A window manager that feels like home
Exec=nostwm-session
Terminal=False
TryExec=nostwm
Type=Application

[Window Manager]
SessionManaged=true
