[Desktop Entry]
Encoding=UTF-8
Name=VWM
Comment=A window manager for vim enthusiasts
Exec=vwm-session
Terminal=False
TryExec=vwm
Type=Application

[Window Manager]
SessionManaged=true
